html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #cf4646;
  color:#FFFFFF;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}


/* Menu */

.header {
    background-color: #cf4646;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
}

.navbar {
    padding: 0 15px;
    text-decoration: none;
    color: #FFFFFF;
    border-right: 1px solid rgba(255,255,255,0.3);
}

.navbar:last-child {
    border-right: none;
}


/* contenu */

.content {
    text-align: center;
    margin-top: 300px;
    height: 700px;
    width: 100%;
}

.content img {
    width: 200px;
	height: 200px;
}

.content p {
    font-size: 41px;
    font-weight: 300;
    margin-top: -20px;
}

.content .btn {
    padding: 15px 20px 16px;
    border-radius: 3px;
    color: #333333;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 22px;
} 

.content .btn:hover {
    box-shadow: 0 0 50px rgba(255,255,255,0.3);
}


/* footer */

.footer {
    background-color: #FFFFFF;
    overflow: hidden;
    width:100%;
}

.footer .benefits {
    width:924px;
    height:400px;
    margin: 0 auto;
    display:block;
    padding-top:90px;
    padding-bottom:130px; 
}

.benefit1 {
    float: left;
    margin: 50px;
    width: 48.5%;
    margin-left: 0;
    margin-right: 0;
}

.benefit2 {
    float: right;
    margin: 50px;
    width: 48.5%;
    margin-left: 0;
    margin-right: 0;
}

.benefit3 {
    float: left;
    margin: 50px;
    width: 48.5%;
    margin-left: 0;
    margin-right: 0;
}

.benefit4 {
    float: right;
    margin: 50px;
    width: 48.5%;
    margin-left: 0;
    margin-right: 0;
}

.footer .benefits h1{
    color:#000000;
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 500;
}

.footer .benefits p {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 26px;
}

